extend layout
block content
  p
    | Здравствуйте всем!
    br
    | Меня зовут Антон и я увлекаюсь программированием.
    | В данный момент я работаю в большой софтверной
    | компании "Яндекс" на должности разработчика C++.
  p
    | Прежде чем стать разработчиком я прошел достаточно
    | тернистый путь, попробовав себя в качестве: инженера технической поддержки, функционального
    | тестировщика, инжинера автоматизированного тестирования (Python).
  P
    | Так что у меня сложилась весьма разносторонняя картина мира.
